:root {
  --main-color: hsl(19, 76%, 80%);
  --main-color-border: hsl(19, 46%, 68%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: hsl(200, 50%, 12%);
}

.head {
  background-color: var(--main-color);
  height: 340px;
  width: 300px;
  border-radius: 70% 70% 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyes,
.brows {
  width: 195px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}
.eye {
  background-color: white;
  height: 40px;
  width: 65px;
  border-radius: 100%;
  border-top: 3px solid var(--main-color-border);
  border-bottom: 3px solid var(--main-color-border);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/*Iris*/
.eye::before {
  content: "";
  position: absolute;
  width: 41px;
  height: 41px;
  background-color: hsl(12, 100%, 16%);
  border-radius: 100%;
  margin-left: 10px;
  margin-bottom: 5px;
}
/*Pupila*/
.eye::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 100%;
  margin-left: 15px;
  margin-bottom: 7px;
}

.brow {
  width: 65px;
  height: 32px;
  border-top: 10px solid hsl(37, 91%, 8%);
  border-radius: 100%;
  margin-bottom: 35px;
  z-index: 100;
}

.nose {
  position: absolute;
  border: 4px solid var(--main-color-border);
  width: 40px;
  height: 30px;
  border-radius: 0 0 100% 100%;
  border-top: none;
  margin-top: 100px;
}

.mouth {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: white;
  margin-top: 225px;
  border-radius: 20% 20% 100% 100%;
  border: 4px solid var(--main-color-border);
  border-left-width: 2px;
  border-right-width: 2px;
}

.ears {
  position: absolute;
  width: 340px;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.ear {
  width: 25px;
  height: 70px;
  background-color: var(--main-color-border);
  border-radius: 0 100% 100% 0;
}

.ear:first-child {
  border-radius: 100% 0 0 100%;
}

.hair {
  position: absolute;
  width: 300px;
  height: 125px;
  background-color: hsl(37, 91%, 8%);
  margin-bottom: 300px;
  border-radius: 50% 100% 0 0;
}

.hair::before,
.hair::after {
  content: "";
  position: absolute;
  background-color: hsl(37, 91%, 8%);
  height: 100px;
  width: 10px;
  transform: translateY(100%);
}

.hair::after {
  right: 0;
}

.hair-corner {
  position: absolute;
  width: 100%;
}

.hair-corner::before,
.hair-corner::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 20px;
  transform: rotate(45deg);
  background-color: hsl(37, 91%, 8%);
  top: 115px;
  left: 5px;
}

.hair-corner::after {
  left: initial;
  right: 5px;
  transform: rotate(-45deg);
}
